<%- include("../partials/header")%>
<div class="container">
    <div class="jumbotron" style="margin-top: 5%;margin-bottom: 5%">
    <div style="margin-left :10% ;margin-right: 10%">
    <div class="form">
        <h1 style="text-align: center;"> job appiction form</h1>
        <div>
            <form style="text-align: left;" action="/resume" method="POST">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputFirstname">ชื่อจริง</label>
                            <input type="text" class="form-control" placeholder="First name" name="firstname" value="<%= currentUser.firstname %>" required>
                        </div>
                        <div lass="col">
                            <label for="inputLastname">นามสกุล</label>
                            <input type="text" class="form-control" placeholder="Last name" name="lastname"value="<%= currentUser.lastname %>"required>
                        </div>
                    </div><br>
                    <div class="form-select">
                    <label for="selectTypejob">ประเภทงานที่ต้องการสมัคร</label>
                        <select class="form-control" required>
                            <option>ประเภทงานที่ต้องการสมัคร</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select><br>
                    <label for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" required>
                            <option>ลักษณะการว่าจ้าง</option>
                                <option value="p">Part time</option>
                                <option value="f">Full time</option>
                                <option value="e">Event</option>
                        </select>
                    </div><br>
                    <div class="form-row">
                        <div class="col-md-6 mb-5">
                            <label for="inputDate">วันที่สามารถเริ่มงานได้</label><br>
                            <input type="date" id="date" name="date" required>
                        </div>
                        <div class="col-md-6 mb-5">
                            <label for="inputTime">เวลาที่สามารถทำงานได้</label><br>
                            <input type="time" id="time" name="time" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAbout">ข้อมูลเพิ่มเติมเกี่ยวกับผู้สมัครงาน</label>
                        <input type="text" class="form-control" id="About" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น">
                    </div>
                    <div class="form-group">
                        <label for="udloadRerume">อัพโหลดเรซูเม่</label>
                        <input type="file" class="form-control-file" id="uploadRerume">
                    </div>       
            </form>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary mb-2">SUBMIT</button>
        </div>
    </div>
    </div>
    </div>
</div>
<%- include("../partials/footer")%>
