<!-- <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/footer.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class="footer">
    <div class="inner-footer">

      <div class="footer-items">
        <h1>AFind part-time jobs</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam quas animi vel alias. Maiores ab repudiandae earum corporis consequatur 
          ipsa laboriosam sit beatae quaerat, voluptatibus nam magni recusandae, accusantium vel.</p>
      </div>

      <div class="footer-items">
        <h2>contact us</h2>
        <div class="border"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี 126 ถนน ประชาอุทิศ แขวง บางมด เขตทุ่งครุ <br>กรุงเทพมหานคร, 10140</li>
          <li><i> </i></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>+1234567890</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>nampun@gamil.com</li>
        </ul>
        <div class="social-media">
          <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
    <div class="footer-bottom">
      Copy right &copy Afind part-time jobs all reserved.
    </div>
  </div>
</body> -->

<!DOCTYPE html> 
<html> 
  <head> 	
      <link rel="stylesheet" type="text/css" href="css/footer.css"> 	
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    
    </head> 
  <body> 		
      <div class="footer">
          <div class="row">
            <div class="inner-footer">
                <!-- <div class="footer-items">
                  <img src="images/logo.png" alt="Logo" width="100%" height="90%">		
                </div> -->
              <div class="col-12 col-sm-12 col-md-12 col-xl-4">	
                <div class="footer-items">		
                  <h2>AFind part-time jobs</h2> 				
                  <p> 					
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 					
                    tempor incididunt ut labore et dolore magna aliqua. 				
                  </p>
                  <!-- <div class="social-media"> 					
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> 					
                  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> 					
                  <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> 					
                  <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a> 				
                  </div>  -->
                </div> 
              </div> 			
          
                <div class="col-12 col-sm-12 col-md-12 col-xl-4">		
                  <div class="footer-items ">
                    <h2>เงื่อนไขและข้อตกลง</h2> 				
                    <div class="border"></div> 				
                    <ul> 					
                      <li><a href="">เงื่อนไขและข้อตกลงในการใช้บริการเว็ปไซต์</a></li>
                      <li><a href="">คำแนะนำการใช้งาน</a></li>			
                    </ul>
                  </div> 
                </div>
                 <div class="col-12 col-sm-12 col-md-12 col-xl-4"> 
                  <div class="footer-items footer_contact">
                    <h2>Contact Us</h2> 				
                    <div class="border"></div> 				
                    <ul> 					
                      <li><i class="fa fa-map-marker" aria-hidden="true" ></i>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</li> 					
                      <li><p>126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ, กรุงเทพมหานคร</p></li> 
                      <li><i class="fa fa-phone" aria-hidden="true"></i>+1234567890</li> 					
                      <li><i class="fa fa-envelope" aria-hidden="true"></i>support@AFind_PTjobs.com</li> 				
                    </ul>
                  </div> 				
                </div> 			 		
          </div>
         </div>  		
          <div class="footer-bottom"> 			
              Copyright &copy; AFind Part-time jobs. All rights reserved. 		
          </div>
    </div>
</body> 
</html>
