<%- include("../partials/header")%>
<div class="container">
    <div class="jumbotron" style="margin-top: 5%;margin-bottom: 5%">
    <div style="margin-left :10% ;margin-right: 10%">
    <div class="form">
        <h1 style="text-align: center;"> job appiction form</h1>
        <div>
            <form style="text-align: left;" action="/resume" method="POST">
                    <div class="form-row">
                        <div class="col">
                            <label for="inputFirstname">ชื่อบริษัท/ห้างร้าน</label>
                            <input type="text" class="form-control" placeholder="Company name" name="companyname" value="" required>
                        </div>
                    </div><br>
                    <div class="form-select">
                    <label for="selectTypejob">ประเภทงานที่ต้องการรับสมัคร</label>
                        <select class="form-control" required>
                            <option>ประเภทงานที่ต้องการสมัคร</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                        </select><br>
                    <label for="selectEmployment">ลักษณะการว่าจ้าง</label>
                        <select class="form-control" required>
                            <option>ลักษณะการว่าจ้าง</option>
                                <option value="p">Part time</option>
                                <option value="f">Full time</option>
                                <option value="e">Event</option>
                        </select>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="inputposition">วิธีการสมัคร</label>
                            <input type="text" class="form-control" id="position" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น">
                        </div>
                        <div class="col-md-6 mb-5">
                            <label for="inputSalary">เงินเดือน</label><br>
                            <input type="number" id="salary" name="saraly" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputQualifications">คุณสมบัติของผู้สมัครงาน</label>
                        <input type="text" class="form-control" id="qualti" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น" style="height:100px">
                    </div>
                    <div class="form-group">
                        <label for="inputApply">วิธีการสมัคร</label>
                        <input type="text" class="form-control" id="apply" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น" style="height:100px">
                    </div>
                    <div class="form-group">
                        <label for="inputContact">ช่องทางการติดต่อบริษัท/ห้างร้าน</label>
                        <input type="text" class="form-control" id="contact" placeholder="พูดได้กี่ภาษา, พิมพ์ได้กี่คำต่อนาที เป็นต้น" style="height:100px">
                    </div>    
            </form>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-primary mb-2">SUBMIT</button>
        </div>
    </div>
    </div>
    </div>
</div>
<%- include("../partials/footer")%>