<%- include("partials/header")%>
<div class ="container">
    <div class ="jumbotron" style ="text-align: center;">
        <h1>Welcome to my collection</h1>
        <div class ="container" >
            <img src="https://i.ytimg.com/vi/OR05ay1qNsw/maxresdefault.jpg" class="img-fluid">
        </div>
        <br>
<!--<a href="/mycollection">View collection</a>-->
        <a class="btn btn-outline-primary" href="/index" role="button">VIEW ANIME</a>
    </div>
</div>
<%-include("partials/footer")%>