

.container {
  font-family: 'Prompt', sans-serif;
  font-size: larger;
}

.container form{
  margin-top: 5%;
  /* background-color: #F5F5F5	; */
  margin-bottom: 2%;
  background-image: url(../images/bg-list2.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;  
}


.form .form-row {
  text-align: center;
}

.btn-search{
  background: #6ab165;
  box-shadow: 0 5px 0 #4f934b;
  position: relative;
  top:0;
  transition:all 0.2s ease-in-out 0s;
  border-radius: 25px;
  margin-top: 3%;
  
}

.btn-search:hover{
  top:3px;
  box-shadow: 0 2px 0 #4f934b;
}



.line1{
  margin-top: 2%;
  margin-bottom: 1%;
}

.list{
  background-color: #F5F5F5	;
}



.btn-readmore{
  border-radius:25px;
  background: #0088cc;
  box-shadow:0 4px 0 #006394;
  transition:all 0.2s ease-in-out 0s;
  position: relative;
}

.btn-readmore:hover{
  top:2px;
  box-shadow:0 2px 0 #006394;
}


.img-fluid{
  margin-top: 4%;
}


form p{
  letter-spacing: 4px;
  color: gray;
  font-style: italic;
  font-size: smaller;
  margin-bottom: 4%;
  text-align: center;
}

.back{
  background-color: #F5F5F5;
}

#detail {
  display: block;
  width: 150%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.company{
  color: blue;
}

.handshake{
  color: black;
}

.tasks{
  color: red;
}

.money{
  color: #6ab165;
}

.map{
  color: red;
}

.clock{
  color: #F9A826;
}