/* .border-block {
    border : solid green;
} */
/* body {
    min-height: 100vh;
    background-color: #6190e8;
    background-image: linear-gradient(to right, #5784d7 0%, #a7bfe8 100%);
} */
/* .bookmark-post
{
  color: #aaaaaa;
  cursor: pointer;
  display: grid;
  grid-template-columns: 100%;
} */

/* .bookmark-post:hover
{
  color:#007bff;
}

.bookmark-post span:nth-child(1)
{
  font-size: 32px;
}

.bookmark-post span:nth-child(2)
{
  font-size: 14px;
}

.bookmark-post-saved
{
  display: grid;
  grid-template-columns: 100%;
  cursor: pointer;
}

.bookmark-post-saved span:nth-child(1) 
{
  font-size: 32px;
}

.bookmark-post-saved span:nth-child(1) i
{
  color: #007bff
}

.bookmark-post-saved span:nth-child(2)
{
  font-size: 16px;
  color: #007bff;
} */

/* .carousel
{
    padding: 5px;
    background-color: white;
}

.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: center;
} */
/* 
.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
} */

.container {
  font-family: 'Prompt', sans-serif;
  font-size: larger;
;
   /* background-image: url(../images/bg-list2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top left; */
}

.container form{
  margin-top: 5%;
  /* background-color: #F5F5F5	; */
  margin-bottom: 2%;
  background-image: url(../images/bg-list2.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;  
}

/* .block{
  border : solid gainsboro;
  border-radius: 1rem;
} */

.form .form-row {
  text-align: center;
}

.btn-search{
  background: #6ab165;
  box-shadow: 0 5px 0 #4f934b;
  position: relative;
  top:0;
  transition:all 0.2s ease-in-out 0s;
  border-radius: 25px;
  margin-top: 3%;
  
}

.btn-search:hover{
  top:3px;
  box-shadow: 0 2px 0 #4f934b;
}

/* .form-row{
  margin-left: 3%;
} */

.line2{
  margin-left: 1%;
}

.line1{
  margin-top: 2%;
  margin-bottom: 1%;
}

.list{
  background-color: #F5F5F5	;
}

.row #icon-list{
  width: 30px;
  height: 30px;
}

.btn-readmore{
  border-radius:25px;
  background: #0088cc;
  box-shadow:0 4px 0 #006394;
  transition:all 0.2s ease-in-out 0s;
  position: relative;
}

.btn-readmore:hover{
  top:2px;
  box-shadow:0 2px 0 #006394;
}


.img-fluid{
  margin-top: 4%;
}

.card{
  margin: 1%;
}

form p{
  letter-spacing: 4px;
  color: gray;
  font-style: italic;
  font-size: smaller;
  margin-bottom: 4%;
  text-align: center;
}
