.container{
    /* border-radius: 1rem; */
    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Prompt', sans-serif;
    background-color: #fffdf4;
    background-image: url(../images/bg-profile5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personal-img img{
   width: 250px;
   height: 260px;
   margin-top: 15%;
}

.personal-info{
    margin-bottom: 10%;
}

.line{
    border: 10;
    height: 4px;
    background-color: #f57e3a;
    width: 300px;
    text-align: left;
    margin-bottom: 5%;
}

h1{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px; 
}

.left{
    width: 45%;
    text-align: left;
    margin-right: 5%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.right{
    width: 45%;
    text-align: left;
    margin-left: 5%;
}

hr{
    width: 300px;
}
.form-row {
    margin-bottom: 2%;
}

.form-row i{
    margin-right: 9%;
    color: #f57e3a;
}


.btn-edit{
    border-radius:25px;
    background: #0088cc;
    box-shadow:0 4px 0 #006394;
    transition:all 0.2s ease-in-out 0s;
    position: relative;
    margin-top: 5%;
}

.btn-right{
    width: 45%;
    text-align: right;
    margin-left: 5%;
    size: 20px;
}

.btn-left{
    width: 45%;
    text-align: left;
    margin-left: 5%;
}

.btn-edit:hover{
    top:2px;
    box-shadow:0 2px 0 #006394;
}


.row .btn-danger{
    text-align: center; 
    margin-left: 5%;
    background: #f4524d;
    box-shadow: 0 4px 0 #f11f18;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 25px;
}

.row .btn-danger:hover{
    box-shadow: 0 2px 0 #f11f18;
}
.row .btn-success{
    background: #6ab165;
    box-shadow: 0 5px 0 #4f934b;
    position: relative;
    top:0;
    transition:all 0.2s ease-in-out 0s;
}

.row .btn-success:hover{
    top:3px;
    box-shadow: 0 2px 0 #4f934b;

}

.input-img input{
    margin-top: 5%;
    text-align: center;
    width: 250px;
}

.upload-img p{
    letter-spacing: 2px;
    color: gray;
    font-size: smaller;
    text-align: center;
    margin-top: 3%;
}