<%- include("../partials/header")%>
<div style="margin-left :10% ;margin-right: 10%">
    <div class="row justify-content-between" >
        <div class="col-md-5 col-sm-12" style=" margin-top: 10%;" align="center">
            <div class="jumbotron"  >
                
            </div>
        </div>   
        <div class="col-md-2 col-sm-0" style=" margin-top: 10%;" align="center">
        </div> 
        <div class="col-md-5 col-sm-12" style="margin-top: 10%; " align="center">
            <div class="jumbotron"  >
                <h1 style="text-align: center;">Login</h1>
                    <form action="/login" method="POST">
                        <div style="text-align: left;" class="form-group">
                            <label for="name">Username</label>
                            <input type="text" class="form-control" name="username" >
                        </div>
                        <div style="text-align: left;" class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" >
                        </div>
                        <div>
                            <h3>Login Type</h3>
                            <label>
                              <input type="checkbox" class="radio" value="operator" name="Type" />Operator</label>
                            <label>
                              <input type="checkbox" class="radio" value="worker" name="Type" />Worker</label>
                          </div>
                          <script>
                            $(document).ready(function(){
                                $('input:checkbox').click(function() {
                                    $('input:checkbox').not(this).prop('checked', false);
                                });
                            });
                            </script>
                        <div align="center">
                            <a  href="/signup" >Sign up?</a> 
                        </div>
                        <br>
                        <div align="right">
                            <button type="submit" class="btn btn-primary">Login</button> 
                        </div>
                    </form>
            </div>
        </div>     
    </div>    
</div>
<%- include("../partials/footer")%>
