<%- include("../partials/header")%>
<head>
    <link rel="stylesheet" href="/css/signup.css">

</head>
<!-- <div style="margin-left :10% ;margin-right: 10%">
    <div class="row justify-content-between" >
        <div class="col-md-5 col-sm-12" style=" margin-top: 10%;" align="center">
            <div class="jumbotron"  >
                
                <div class="w3-content w3-section" style="max-width:500px">
                    <img class="mySlides" src="https://asset.jobthai.com/static/images/postresume/customize-privacy-setting.svg" style="width:110%">
                    <img class="mySlides" src="https://asset.jobthai.com/static/images/postresume/apply-now-via-jobthai.svg" style="width:100%">
                    <img class="mySlides" src="https://asset.jobthai.com/static/images/postresume/my-jobs.svg" style="width:80%">
                  </div>
                  
                  <script>
                  var myIndex = 0;
                  carousel();
                  
                  function carousel() {
                    var i;
                    var x = document.getElementsByClassName("mySlides");
                    for (i = 0; i < x.length; i++) {
                      x[i].style.display = "none";  
                    }
                    myIndex++;
                    if (myIndex > x.length) {myIndex = 1}    
                    x[myIndex-1].style.display = "block";  
                    setTimeout(carousel, 2000); 
                  }
                </script>
            </div>

        </div> 
        <div class="col-md-2 col-sm-0" style=" margin-top: 10%;" align="center">
        </div> 
        <div class="col-md-5 col-sm-12" style=" margin-top: 10%;" >
            <div class="jumbotron" >
                <h1 style="text-align: center;">Sign up</h1>
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="name" style="text-align: left;" >E-mail Address</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="name" style="text-align: left;">Username</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label for="name" style="text-align: left;">Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div>
                            <h3>Please select user type</h3>
                            
                            <label>
                                <input type="checkbox" class="radio" value="operator" name="Type" />Operator</label>
                            <label>
                            
                              <input type="checkbox" class="radio" value="worker" name="Type" />Worker</label>
                          </div>
                          <script>
                            $(document).ready(function(){
                                $('input:checkbox').click(function() {
                                    $('input:checkbox').not(this).prop('checked', false);
                                });
                            });
                            </script>
                        <br><br>
                            <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
            </div>
        </div>
    </div>
</div>  -->

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form action="/signup" method="POST">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="inputUserame">Username</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <!-- <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label> -->
              </div>
              <!-- <hr class="my-2"> -->
              <div>
                <h3>Please select user type</h3>
                <div class="check-box">
                    
                    <label>
                        <input type="radio" class="radio" value="operator" name="Type" /> Operator
                    </label>
                    <label>
                        <input type="radio" class="radio" value="worker" name="Type" /> Worker
                    </label>
                </div>  
              </div>
              <script>
                $(document).ready(function(){
                    $('input:checkbox').click(function() {
                        $('input:checkbox').not(this).prop('checked', false);
                    });
                });
                </script>
                <div class="gap">
                    <hr class="my-2">
                </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <br>
                <div align="center">
                    <span> have an account ? </span>
                    <a  href="/login" >Sign in</a> 
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/footer")%>
